.CartInner {
  min-width: 1010px;
  width: 100%;
  //background-color: #ffffff;
  padding: 10px;

  .title {
    margin-top: 50px;
    padding: 10px 0 10px 0;

    background-color: #fff;
    border-radius: 1px;
    border: unset;
    box-shadow: 0.3px 0.3px 1px #888888;

    color: #999999;
    font-size: 16px;
    text-align: center;

    &__color-black {
      color: #000;
    }

    &__text-left {
      text-align: left;
    }
  }

  .total-prices {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 0 10px 0;

    border-radius: 1px;
    border: unset;
    box-shadow: 0.3px 0.3px 1px #888888;

    background-color: #fff;
    color: #000;

    &__text-left {
      text-align: left;
    }

    &__color-#C3332A {
      color: #c3332a;
    }

    .purchase-btn {
      button {
        background-color: #ec7533;
        border: unset;
        padding: 5px 10px;

        &:hover,
        &:focus {
          background-color: #f5b43c;
          border: unset;
        }
      }
    }


  }

  .no-items {
    .no-items-icon {
      background-image: url("/assets/images/cart/no-items.png");
      background-size: 100px 100px;
      height: 200px;
      background-position: bottom;
      background-repeat: no-repeat;
    }

    .continue-btn {
      display: flex;
      justify-content: center;
      button {
        background-color: #ec7533;
        border: unset;
        padding: 5px 10px;

        &:hover,
        &:focus {
          background-color: #f5b43c;
          border: unset;
        }
      }
    }

    .text {
      text-align: center;
    }
  }
}

