.form-separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .dash {
        width: 140px;
        border: 0.03125rem solid #dbdbdb;
    }

    .content {
        color: #ccc;
        padding: 0 1rem;
        text-transform: uppercase;
    }
}
