.FoodCombo {
  width: 100%;
  background-color: #fff;
  padding: 10px 10px 5px 10px;

  .name {
    color: #39393b;
    text-align: center;
    font-size: 16px;
  }
  .price {
    color: #c3332a;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
  }
  .description {
    color: #999999;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
