.ProductDetail {
  padding: 10px 10px 10px 10px;
  background-color: #fff;
  min-width: 1065px;

  .left {
    padding: 10px 10px 10px 10px;
    height: 350px;

    img {
      height: 240px;
      width: 100%;
    }
  }

  .right {
    padding: 10px 10px 10px 10px;

    .name {
      font-size: 16px;
    }

    .price {
      font-size: 16px;
      color: #c3332a;
      font-weight: bold;
    }

    .add-to-cart {
      padding: 10px 0px 10px 0px;

      button {
        background-color: #ec7533;
        border-color: #ec7533;

        &:hover,
        &:focus {
          background-color: #f5b43c;
          border-color: #f5b43c;
        }
      }
    }

    .description {
      padding: 10px 10px 10px 0px;
      font-size: 14px;
      color: #999999;
    }
  }

}

.ant-modal-content {
  min-width: 500px;
  .ant-btn-primary{
    background-color: #c3332a;
    border-color: #c3332a;
    
    &:hover {
    background-color: #cf5b54;
    border-color: #cf5b54;
    }
  }
}

.review-modal {
  .ant-modal-content {
    height: 600px;
    width: 800px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}


